<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <p><span class="bg-light font-weight-bold px-3">商品一覧</span></p>
      <%= button_to new_admin_item_path, method: :get do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table>
        <tr class="bg-light">
          <th class="py-2 pr-4 pl-1">商品ID</th>
          <th class="py-2", width="300">商品名</th>
          <th class="py-2 pr-4">税抜価格</th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <td class="pt-2 pl-3"><%= item.id %></td>
            <td class="pt-2">
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td class="pt-2"><%= item.price %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>