<div class="container">
  <div class="row offset-md-1">
    <p><span class="bg-light font-weight-bold px-3">商品新規登録</span></p>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if @item.errors.any? %>
        <%= @item.errors.count %>件のエラーが発生しました
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

    <%= form_with model: @item, url: admin_items_path do |f| %>
  <div class="row">
      <div class="col-8 offset-md-2">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :image, "商品画像", class: "mr-4" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :name, "商品名", class: "mr-4" %></td>
              <td><%= f.text_field :name, autocomplete: "name", placeholder: "商品名", size: "50" %></td>
            </tr>
            <tr>
              <td><%= f.label :introduction, "商品説明", class: "mr-4" %></td>
              <td><%= f.text_area :introduction, autocomplete: "introduction", placeholder: "ここに説明文を記述します", size: "53" %></td>
            </tr>
            <tr>
              <td><%= f.label :price, "税抜価格", class: "mr-4" %></td>
              <td><%= f.text_field :price, autocomplete: "price", placeholder: "1000", size: "50" %>円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
        <%= f.submit "新規登録", class: "btn btn-success my-3 px-5" %>
      </div>
  </div>
    <% end %>
</div>