<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <p><span class="bg-light font-weight-bold px-3">管理者ログイン</span></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table>
        <%= form_with model: @admin, url: admin_session_path do |f| %>
          <tr>
            <div class="field">
              <td><%= f.label :email, "メールアドレス", class: "mr-5" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50" %></td>
            </div>
          </tr>
          
          <tr>
            <div class="field">
              <td><%= f.label :password, "パスワード", class: "mr-5" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: "50" %></td>
            </div>
          </tr>
          
          <tr>
          <div class="actions">
            <td></td>
            <td><%= f.submit "ログイン", class: "btn btn-primary mt-4" %></td>
          </div>
          </tr>
        <% end %>
      </table>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>