<div class="container">
  <div class="row offset-1">
    <h5 class="mt-4"><span class="bg-light font-weight-bold px-3 mt-1">注文情報入力</span></h5>
  </div>

  <%= form_with model: @order, url: confirm_path do |f| %>
    <h5 class="mt-3 font-weight-bold">支払方法</h5>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true, class: "ml-5" %>
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "ml-5" %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

    <h5 class="mt-3 font-weight-bold">お届け先</h5>
    <%= f.radio_button :select_address, 0, checked: true, class: "ml-5" %>
    <%= f.label :select_address_0, "ご自身の住所" %><br>
    <div class="row offset-1 mb-3">
      <%= current_customer.postal_code %>
      <%= current_customer.address %>
      <%= current_customer.last_name %><%= current_customer.first_name %>
    </div>
    <%= f.radio_button :select_address, 1, class: "ml-5" %>
    <%= f.label :select_address_1, "新しいお届け先" %>
    <table class="offset-1 mb-3">
      <tr>
        <td><%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "mr-2" %></td>
        <td><%= f.text_field :postal_code, placeholder: "0000000", size: "15" %></td>
      </tr>
      <tr>
        <td><%= f.label :address, "住所" %></td>
        <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "50" %></td>
      </tr>
      <tr>
        <td><%= f.label :name, "宛名" %></td>
        <td><%= f.text_field :name, placeholder: "令和道子", size: "15" %></td>
      </tr>
    </table>

    <div class="row d-flex justify-content-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary font-weight-bold px-4 mb-3" %>
    </div>
  <% end %>
</div>