<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <%= image_tag @item.get_image(230, 230) %>
    </div>
    <div class="col offset-md-1">
      <table>
        <tr>
          <td class="pt-3"><strong><h4><%= @item.name %></h4></strong></td>
        </tr>
        <tr>
          <td class="pt-3"><%= @item.introduction %></td>
        </tr>
        <tr>
          <td class="pt-3"><big><strong>￥<%= @item.delimit_add_tax %></strong></big><small>（税込）</small></td>
        </tr>
      </table>
      <% if customer_signed_in? %>
        <div class="d-flex justify-content-start mt-3">
          <%= form_with model: @cart_item, url: cart_items_path do |f| %>
            <div class="form-inline">
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, *[1..10], { include_blank: '個数選択' }, { class: 'form-control mx-3' } %>
              <%= f.submit "カートに入れる", class: "btn btn-success px-3 mx-3" %>
            </div>
          <% end %>
        </div>
      <% else %>
      <% end %>
    </div>
  </div>
</div>

